* {
    margin:0;
    padding:0;
    font-family: "Microsoft YaHei", sans-serif;
    font-size:14px
}
ul{list-style: none}

#outborder-2 {
    width: 340px;
    height:580px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: hidden;
    position: relative;
}

#filter_blur {
    height: 580px;
    width:340px;
    background-repeat: no-repeat;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(7px) brightness(.4);
    position: absolute;
}

#songName2 {
    font-size: 16px;
}

#singer {
    font-size: 12.8px;
    color: #cccccc;
}

#header-2 {
    height:70px;
    color:white;
}

#header-2 ul {
    line-height: 25px;
    padding-top:10px;
    float:left;
}

#lryci-content {
    height:400px;
}

#volumebar {
    padding:5px 0 15px 30px;
}

#volumeRange{
    width:230px;
    border-radius: 1px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    height:2px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height:2px;
    border-radius: 50%;
    margin-top: -5px;
}
input[type=range]:focus {
    outline: none;
}

#volumeRange::-moz-range-thumb{
    background-color: white;
    height: 10px;
    width: 10px;
}
#volumeRange::-moz-range-progress{
    background-color: white;
}

#lryci {
    width:340px;
    height: 357px;
    overflow:hidden;
}

#lryci-scroll {
    -moz-transition: scrollTop .6s ease-in-out .6s;
    -webkit-transition: scrollTop .6s ease-in-out .6s;
}

#lryci-2 {
    width:360px;
    height: 357px;
    padding-left: -20px;
    overflow-y:scroll;
}

.lrycilist.white {
    color:#ffffff
}

.lrycilist {
    width:100%;
    text-align: center;
    font-size:15px;
    margin-top: 20px;
    color: #999999
}

#progressBar {
    height:110px;
}

#playRange::-moz-range-thumb{
    background-color: white;
    height: 12px;
    width: 12px;
}

#playRange::-moz-range-progress{
    background-color: #fff;
}

#playRange {
    width:230px;
    padding-top:5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#time-1 {
    margin: 0 10px 0 14px ;
    height:30px;
    padding-top:6px;
    display: inline-block;
    float: left;
    color:white;
    font-size:12px;
}

#duration {
    height:30px;
    margin-left: 10px;
    padding-top:6px;
    display: inline-block;
    float: left;
    color: #ccc;
    font-size:12px;
}

#playControl {
    height:50px;
    margin-top: 5px;
    padding-left:3px;
}

#play-pause-2 {
    cursor: pointer;
    margin:5px 15px 0 15px;
    width:35px;
    height:35px;
    display: inline-block;
    background: url("images/pngs/play-1.png") no-repeat;
}